<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="self.employee" >

	<!-- 根据员工表的ID与文件表的上传时间来获取文件名和上传时间 -->
	<select id="search_file_nameAndTime" parameterType="java.util.Map" resultType="com.mengma.mis.self.employee.employeeVo.EmployeeVo">
		SELECT 
			tf.upload_time as uploadTime,
			tf.file_name as fileName,
			tf.remark as remark
		from tbl_employee te,tbl_file tf
		where
			te.id = tf.upload_id 
			and te.id = #{id} 
		order by tf.upload_time ASC
	</select>
	<!-- 根据员工表的ID与训练营的开始时间来获取训练营课程和训练营的开始时间时间 -->

</mapper>