<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mengma.projectManager" >
	<resultMap type = "com.mengma.mis.self.project.vo.projectManagerVo" id = "project">
			<id property = "id" column = "id" />
			<result property = "employeeCode" column = "employeeCode"/>
			<result property = "employeeName" column = "employeeName"/>
			<result property = "type" column = "type"/>
			<result property = "startTime" column = "startTime" />
			<result property = "endTime" column = "endTime" />
			<result property = "timeLength" column = "timeLength" />
			<result property = "reason" column = "reason" />
			<result property = "operation" column = "operation" />
			<result property = "projectLeader" column = "projectLeader" />
			<result property = "employeeProjectStatus" column = "employeeProjectStatus" />
			<result property = "employeeId" column = "employeeId" />
		</resultMap>
    <!-- 通过项目名称查询详情-->
    <select id="search_projectName_projectManagerVo_info" parameterType="java.util.Map" resultType="com.mengma.mis.self.project.vo.projectManagerVo" >
        SELECT DISTINCT
			tl.id as id,
			te.employee_name as employeeName,
			tl.type as type,
			tl.start_time as startTime,
			tl.end_time as endTime,
			tl.timeLength as timeLength,
			tl.reason as reason,
			tl.operation as operation,
			te.employee_code as employeeCode,
			tp.project_name as projectName,
			tp.project_leader as projectLeader,
			tpe.status as employeeProjectStatus
		from tab_leave tl,tbl_project tp,tbl_employee te ,tbl_project_employee tpe
		<where>
			te.id = tl.employee_id 
			and tp.id = tpe.project_id 
			and tl.employee_id = tpe.employee_id
			<if test = "projectName != null">
				and tp.project_name like concat(concat('%',#{projectName}),'%')
			</if>
		</where>
    </select>
</mapper>