<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mengma.projectManage" >
		<resultMap type = "com.mengma.mis.self.project.vo.projectManageVo" id = "projectEmployeeId">
			<id property = "id" column = "id" />
			<result property = "employeeId" column = "employee_id"/>
			<result property = "tbProjectId" column = "project_id"/>
		</resultMap>
    <!-- 通过项目名称查询详情-->
    <select id="search_employeeName_projectManageVo_info" parameterType="java.util.Map" resultType="com.mengma.mis.self.project.vo.projectManageVo" >
			SELECT
				a.id as id,
				a.employee_code as employeeCode,
				a.employee_name as employeeName,
				a.skill as skill,
				a.ability_level as abilityLevel,
				d.project_name  as projectName
			FROM
				tbl_employee a
			LEFT JOIN (
				SELECT
					b.employee_id,
					c.project_name
				FROM
					tbl_project_employee b,
					tbl_project c
				WHERE
					c.id = b.project_id
			) d ON a.id = d.employee_id
			WHERE a.role = 'S0002'
			<where>
					<if test = "employeeName!= null">
						and a.employee_name like concat(concat('%',#{employeeName}),'%')			
					</if>
					<if test = "skills!= null">
						<foreach collection="skills" item="sk">
							or a.skill like concat(concat('%',#{sk}),'%')
						</foreach> 
					</if> 
					<if test = "abilityLevel!= null">
						and a.ability_level like concat(concat('%',#{abilityLevel}),'%')
					</if>
			</where>
    </select>
    <!--  -->
    
    <select id="search_projectEmployeeManage_projectManageVo_info" parameterType="java.util.Map" resultType="com.mengma.mis.self.project.vo.projectManageVo" >
    SELECT
		te.employee_name as employeeName,
		te.id as teId,
		tbe.project_id as tbProjectId,	
		tbe.employee_id as employeeId
	
	FROM
		tbl_project_employee tbe
		left join tbl_employee te on tbe.employee_id = te.id
	
	WHERE
	tbe.project_id = #{project_id}
	    
    
    </select>
    
     <select id="add_projectEmployeeId_projectManageVo_info" parameterType="java.util.Map" resultMap="projectEmployeeId" >
    INSERT INTO tbl_project_employee (id, project_id, employee_id)
	VALUES
		(
			#{id},
			#{project_id},
			#{employeeId[i]}
		);
	    
    
    </select>
    
</mapper>